*{
    margin: 0px;
    padding: 0px;

}

.main{
    display: flex;
  align-items: center;
  padding: 20px 0px;
  background-color: green;
    justify-content: space-evenly;
}

.list{
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
}
 

.main button{
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
    color: white;
}

.section2 h1{
     font-size: 50px;
      
    color: red;

}
.section2 button{
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 15px 15px;
    color: white;
    margin-top: 20px;

}
.section2 {
    padding: 100px 100px;
}

.section2 img{
    border-radius: 20px;
    width: 350px;
    height: 300px;
}

.section2{
    display: flex;
    gap: 180px;
}